html,
body,
* {
  font-size: 1em;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  -moz-font-smoothing:antialiased;
  -o-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

ul {
  list-style: none;
}