@import 'global-styles';

.main-container {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 320px;
  .colors {
    display: table-cell;
    vertical-align: middle;

    .colors-menu {
      margin: 10px 0 0 0;
      .colors-menu__button {
        width: 100px;
        background-color: #bbb;
        padding: 10px;
        margin: 0 0 0 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        border: none;

        &:hover {
          cursor: pointer;
          border: none;
          background: #2398ff;
          box-shadow: 0px 0px 1px #777;
        }
      }
    }

    .colors-list {
      width: 200px;
      margin: 0 auto;
      .colors-list__item {
        font-size: 2em;
        padding: 5px 0;
        margin: 5px 0;
        cursor: default;
        background-color: #bbb;
        &:hover {
          cursor: pointer;
          background: #2398ff;
        }
      }
    }
  }
}